body {
  background-color: #242424;
  color: white;
  padding: 1.7rem; /* p-5 */
  margin-left: auto; /* mx-auto */
  margin-right: auto; /* mx-auto */
  max-width: 1200px; /* max-w-[1200px] */
  margin-top: 2.5rem;
}


